<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport"
          content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <title>Title</title>

</head>
<body>
<table class="center">


    {%for vehicles in object_list %}
    <tr>
        <td>{{vehicles.vehicle_number}}</td>
        <td>{{vehicles.vehicle_type}}</td>
        <td>{{vehicles.vehicle_model}}</td>
        <td>{{vehicles.vehicle_description}}</td>

    </tr>
    {% empty %}

    {% endfor %}
</table>
</body>
</html>
